<?xml version="1.0"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->
<configuration>
	<appSettings>
		<add key="UserLogPath" value="C:\\UserLog\"/>
		<add key="FromMail" value="noreply@lmccsoft.com"/>
		<add key="Password" value="lmcc2019"/>
		<add key="SMTPServerHost" value="smtp.mailhostbox.com"/>
		<add key="SMTPPort" value="25"/>
		<add key="FPURL" value="http://10.10.1.200/Mizuho_TF_Auto_UAT_52/TF_ForgotPassword.aspx"/>
	</appSettings>
	<connectionStrings>
		<add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;
			Data Source={0};Extended Properties='Excel 8.0;HDR={1};IMEX=1'"/>

		<add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;
			Data Source={0};Extended Properties='Excel 8.0;HDR={1};IMEX=1'"/>

		<add name="conString" connectionString="Data Source=.\SQLEXPRESS;
			database=TF;Integrated Security=true"/>

		<add name="INWConnectionString" connectionString="Data Source=10.10.0.40;User ID=sa;password=abcd_1234;Initial Catalog=Mizuho_Export_Enhancement;Pooling=False"/>
    <!--<add name="INWConnectionString" connectionString="Data Source=.;User ID=sa;password=abcd_1234;Initial Catalog=Mizuho_Export_Enhancement;Pooling=False"/>-->
    <add name="urlrpt" connectionString="http://laptop-kj88sbrj/ReportServer"/>
    <add name="user" connectionString="lmcca"/>
    <add name="password" connectionString="Lmcc@2019"/>
		<add name="domain" connectionString="prod.lmcc.com"/>
	</connectionStrings>
	<system.web>
		<httpRuntime maxRequestLength="1048576"/>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
			</controls>
		</pages>
		<!-- 
						Set compilation debug="true" to insert debugging 2 60+30+45+42  3 60+45+30+30+20+20  4  60+45+30+30+100+30
						symbols into the compiled page. Because this 
						affects performance, set this value to true only 
						during development.
				-->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.WinForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="Microsoft.VisualStudio.VSHelp80, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<!--
						The <authentication> section enables configuration 
						of the security authentication mode used by 
						ASP.NET to identify an incoming user. 
				-->
		<authentication mode="None"/>
		<!--
						The <customErrors> section enables configuration 
						of what to do if/when an unhandled error occurs 
						during the execution of a request. Specifically, 
						it enables developers to configure html error pages 
						to be displayed in place of a error stack trace.

				<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
						<error statusCode="403" redirect="NoAccess.htm" />
						<error statusCode="404" redirect="FileNotFound.htm" />
				</customErrors>
				-->
		<globalization culture="en-us" requestEncoding="utf-8" responseEncoding="utf-8"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<httpModules>
			<add type="QueryStringModule" name="QueryStringModule"/>
		</httpModules>
		<customErrors mode="Off"/>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<clear />
				<add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
